<section id="education" class="row">
  <aside class="col-sm-3">
    <h3>Education</h3>
  </aside>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>Technion — School of Engineering</span>
          <span class="date">2011 — 2013</span>
        </h4>
        <div class="area">Software Engineering</div>
        <div class="studyType">
          Bachelor
          <br />
          <a
            target="_blank"
            rel="noopener"
            href="https://github.com/ArnonEilat/HebrewWiktionaryToJson"
            >Final Project</a
          >
          - Convert Hebrew Wiktionary entries to JSON.
          <br />
          <a
            target="_blank"
            rel="noopener"
            href="http://arnoneilat.github.io/HebrewWiktionaryToJson"
            >Documentation</a
          >
          (Hebrew)
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>Open University</span>
          <span class="date">2008 — 2010</span>
        </h4>
        <div class="area">General Studies</div>
        <div class="studyType">&nbsp;</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>Megiddo Regional High School</span>
          <span class="date">1996 — 2002</span>
        </h4>
        <div class="area">A high school diploma (Te'udat Bagrut)</div>
        <div class="studyType"></div>
      </div>
    </div>
  </div>
</section>
