<section id="interests" class="row">
    <aside class="col-sm-3">
        <h3>Self Esteem</h3>
    </aside>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <ul class="keywords">
                    <li>Good attitude and good access of troubleshooting and fixing computer systems.</li>
                    <li>Willing to learn new things.</li>
                    <li>Good interpersonal relations.</li>
                    <li>Like to program on my spare time — e.g:
                        <a class="show-url-print" rel="noopener" target="_blank" href="http://file-permissions.ninja">File Permissions Ninja</a>,
                        <a class="show-url-print" rel="noopener" target="_blank" href="https://alarmdj.com">Alarm DJ</a> - online alarm clock webapp with chromecast support.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>