<section id="languages" class="row">
    <aside class="col-sm-3">
        <h3>Languages</h3>
    </aside>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="language">
                    <strong>English</strong>
                </div>
                <div class="fluency">
                    Fluently
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="language">
                    <strong>Hebrew</strong>
                </div>
                <div class="fluency">
                    Native speaker
                </div>
            </div>
        </div>
    </div>
</section>