<section id="about" class="row">
    <aside class="col-sm-3">
        <h3>Objective</h3>
    </aside>
    <div class="col-sm-9">
        I like learning new things and face new challenges. The more inspiring and difficult I find something, the more engaged I
        feel to understand it into its full depth.
        <br>I'm looking for a full time position, in which a highly motivated energetic team member, with individual
        initiative and programming skills like me, can contribute to the efficiency, success and profitability of
        the company.
        <!-- I like learning new things and challenges
- probably the more difficult I find something, more engage I feel to understand it.
<br>I'm looking for a full time position, where a motivated high-energy team player
capable of individual initiative and skilled programmer will contribute to the efficiency and profitability
of the company. -->
    </div>
</section>