<section id="contact" class="row">
    <aside class="col-sm-3">
        <h3>Personal</h3>
    </aside>
    <div class="col-sm-9">
        <div class="row personal-section">

            <div class="col-xs-12 col-sm-3">
                <strong class="personal-property">Year of Birth</strong>
                <div class="personal-value">1984</div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <strong class="personal-property">Phone</strong>
                <div class="personal-value">
                    <a href="tel:0525914640">052-591-4640</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <strong class="personal-property">Address</strong>
                <div class="personal-value">
                    <a href="https://www.google.co.il/maps/place/HaMahteret+St,+Ramat+Gan" rel="noopener" target="_blank">HaMahteret St<br class="print-line-break"> Ramat Gan</a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <strong class="personal-property">Email</strong>
                <div class="personal-value">
                    <a href="mailto:Arnon.Eilat@gmail.com?Subject=Hello%20Arnon%20-%20let%20set%20up%20a%20meeting" target="_blank">Arnon.Eilat@gmail.com</a>
                </div>
            </div>



        </div>
    </div>
</section>