<section id="profiles" class="row">
    <aside class="col-sm-3">
        <h3>Profiles</h3>
    </aside>
    <div class="col-sm-9">
        <div class="row">

            <div class="col-xs-4 col-sm-4">
                <strong class="network">
                    <i class="fa fa-facebook-square"></i>
                    Facebook
                </strong>
                <div class="username">
                    <div class="url">
                        <a target="_blank" rel="noopener" class="convert-to-url-print" href="https://www.facebook.com/arnon.eilat">Arnon.Eilat</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4">
                <strong class="network">
                    <i class="fa fa-github"></i>
                    GitHub
                </strong>
                <div class="username">
                    <div class="url">
                        <a target="_blank" rel="noopener" class="convert-to-url-print" href="https://github.com/arnoneilat">Arnon.Eilat</a>
                    </div>
                </div>
            </div>



            <div class="col-xs-4 col-sm-4">
                <strong class="network">
                    <i class="fa fa-linkedin"></i>
                    Linkedin
                </strong>
                <div class="username">
                    <div class="url">
                        <a target="_blank" rel="noopener" class="convert-to-url-print" href="https://www.linkedin.com/in/arnon-eilat">Arnon Eilat</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>