<section id="skills" class="row">
  <aside class="col-sm-3">
    <h3>Skills</h3>
  </aside>

  <div class="col-sm-9">
    <div class="row">
      <div class="list-group">
        <h4>Front End</h4>
        <div class="progress">
          <div style="width: 99%" class="progress-bar progress-bar-success">
            <span class="progress-type">HTML5 / CSS / JavaScript(browser)</span>
          </div>
        </div>
        <div class="progress">
          <div style="width: 90%" class="progress-bar progress-bar-success">
            <span class="progress-type"
              >React / Redux / Webpack / ESLint / TypeScript / NPM / Web
              Extensions
            </span>
          </div>
        </div>

        <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">React Native / NW.js </span>
          </div>
        </div>

        <h4>Cloud Platforms</h4>
        <div class="progress">
          <div style="width: 65%" class="progress-bar progress-bar-success">
            <span class="progress-type">AWS</span>
          </div>
        </div>

        <div class="progress">
          <div style="width: 70%" class="progress-bar progress-bar-success">
            <span class="progress-type">GCP</span>
          </div>
        </div>

        <div class="progress">
          <div style="width: 20%" class="progress-bar progress-bar-success">
            <span class="progress-type">Heroku</span>
          </div>
        </div>

        <h4>Back End</h4>

        <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">NodeJs</span>
          </div>
        </div>

        <div class="progress">
          <div style="width: 75%" class="progress-bar progress-bar-success">
            <span class="progress-type">NextJs</span>
          </div>
        </div>

        <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">Python</span>
          </div>
        </div>

        <!--
           <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">MEAN Stack</span>
          </div>
        </div>
        <div class="progress">
          <div style="width: 75%" class="progress-bar progress-bar-success">
            <span class="progress-type">LAMP Stack</span>
          </div>
        </div> -->

        <h4>Database</h4>
        <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">MongoDB</span>
          </div>
        </div>
        <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">MySQL / PostgreSQL</span>
          </div>
        </div>

        <h4>Other</h4>

        <div class="progress">
          <div style="width: 80%" class="progress-bar progress-bar-success">
            <span class="progress-type">Wordpress</span>
          </div>
        </div>
        <div class="progress">
          <div style="width: 40%" class="progress-bar progress-bar-success">
            <span class="progress-type">Bash Scripting</span>
          </div>
        </div>
        <div class="progress">
          <div style="width: 30%" class="progress-bar progress-bar-success">
            <span class="progress-type">Java(Vanilla)</span>
          </div>
        </div>
        <div class="progress">
          <div style="width: 15%" class="progress-bar progress-bar-success">
            <span class="progress-type">C</span>
          </div>
        </div>

        <div class="progress">
          <div style="width: 15%" class="progress-bar progress-bar-success">
            <span class="progress-type">VB.NET / C#</span>
          </div>
        </div>

        <div class="progress-meter">
          <div style="width: 25%" class="meter meter-left">
            <span class="meter-text">I suck</span>
          </div>
          <div style="width: 25%" class="meter meter-left">
            <span class="meter-text">I know little</span>
          </div>
          <div style="width: 30%" class="meter meter-right">
            <span class="meter-text">I'm a guru</span>
          </div>
          <div style="width: 20%" class="meter meter-right">
            <span class="meter-text">I'm good</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
