<section id="volunteer" class="row">
    <aside class="col-sm-3">
        <h3>Volunteer</h3>
    </aside>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="strike-through">
                    <span>The Public Knowledge Workshop</span>
                    <span class="date">2013</span>
                </h4>
                <div class="website pull-right">
                    <a href="http://hasadna.org.il" target="_blank">http://hasadna.org.il</a>
                </div>
                <div class="position">Web Developer</div>

                <h4>Highlights</h4>
                <ul class="summary">
                    <li>I was involved in a project of WEB scraping from the Israeli Knesset Web site using
                        <a href="http://scrapy.org" target="_blank">Scrapy</a>.</li>
                    <li class="bullet">I built the
                        <a href="http://hasadna.github.io" target="_blank">eKnight Land</a>.
                        <br>&emsp;Technologies: Angular.js , D3.js , Grunt , Bower
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>