<section id="work" class="row">
    <aside class="col-sm-3">
        <h3>Work</h3>
    </aside>
    <div class="col-sm-9">

        <div class="row">
            <div class="col-sm-12">
                <h4 class="strike-through">
                    <span>AVG Technologies</span>
                    <span class="date">2016 — 2017</span>
                </h4>
                <div class="position">JS Developer</div>
                <div class="summary">
                    I worked as javaScript developer. The work involved AGIL methodologists along large code base with efficient
                    <span title="Continuous Integration">CI</span>. I was incharge(as part
                    of a grate team) of developing and maintaining couple of browser extensions, for both: Mozilla
                    Firefox and Google Chrome. Those extensions having more then 20 millions active users around
                    the world with diverse browser versions and require sever level of QA.
                    </p>
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4 class="strike-through">
                    <span>TopCtr Digital Marketing LTD</span>
                    <span class="date">2013 — 2015</span>
                </h4>
                <div class="position">Full Stack Developer</div>
                <div class="summary">
                    <!-- <p>I worked as a full stack developer at TopCtr Digital Marketing where I built and maintained a large variety of web Apps and websites.
        <br> Most of the work was done with Wordpreess, but a significant portion was made with Node.js.</p> -->
                    <p>I worked as a Full stack developer at TopCtr Digital Marketing where I built and maintained a
                        large variety of web Apps and websites.
                        <br>Most of the work involve MEAN stack over AWS, Yet some of it involves WordPress and PostgreSQL.
                    </p>
                </div>
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4 class="strike-through">
                    <span>Freelance Web Developer</span>
                    <span class="date">2011 — 2013</span>
                </h4>
                <!--<div class="position">Full Stack Developer</div>-->
                <div class="summary">
                    <p>I worked as a freelance WEB developer, building several WEB sites according to customers' requirements.</p>
                </div>
            </div>
        </div>

        <div class="row hide-in-print">
            <div class="col-sm-12">
                <br>
                <div class="position">Other Jobs</div>

                <dl class="dl-horizontal">
                    <dt>Security Guard</dt>
                    <dd>Discount Bank Main Operating Center.
                        <span class="pull-right">2009 — 2010</span>
                    </dd>

                    <dt>Amusement Park
                        <br>Manager (U.S)</dt>
                    <dd>
                        <span class="pull-right">2009</span> Responsibilities:
                        <ul>
                            <li>Recruitment — American and Israelis.</li>
                            <li>Working with suppliers.</li>
                            <li>Rental stalls.</li>
                            <li>Daily base technical/logistical management.</li>
                        </ul>
                    </dd>

                    <dt>Salesman (U.S)</dt>
                    <dd>Cosmetics
                        <span class="pull-right">2008</span>
                    </dd>

                    <dt>Amusement Facilities
                        <br>Operator (U.S)</dt>
                    <dd>
                        Myrtle Beach SC
                        <span class="pull-right">2007 — 2008</span>
                    </dd>
                    <dt>CPC Hi Technologies</dt>
                    <dd>QA of Printed Circuit Boards.
                        <span class="pull-right">End of 2006 — 2007</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
