<section id="work" class="row">
  <aside class="col-sm-3">
    <h3>Work</h3>
  </aside>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>K Health</span>
          <span class="date">2019 — Present</span>
        </h4>
        <div class="position">Full Stack Developer & Tech Lead</div>
        <div class="summary">
          I am currently employed by K Health as a Full Stack Developer & Tech
          Lead.
          <br />
          I lead the accessibility initiative in our organization. These efforts
          involve research and implementation of the conclusions as well as
          getting assisted by external experts.
          <br />
          <br />

          Technologies:<br />
          TypeScript, React Native, React, Redux, MobX, Webpack, Micro Frontend,
          ESLint, TSLint, Prettier, Jest, NodeJs, NextJs, Storybook, MUI,
          Emotion, Lerna, Yarn, NPM, Cypress, Selenium, Make, MongoDB, Docker,
          Python, FastAPI, Flask, GCP.
          <br />
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>Papaya Global</span>
          <span class="date">2019 — 2020</span>
        </h4>
        <div class="position">Full Stack Developer</div>
        <div class="summary">
          I've been worked as a full-stack developer at Papaya Global.<br />
          Technologies:<br />
          TypeScript, React, Redux, Angular, Storybook, GraphQL, Cucumber.
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row page-break-before">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>Spot.IM</span>
          <span class="date">2018 — 2019</span>
        </h4>
        <div class="position">Full Stack Developer</div>
        <div class="summary">
          I've worked as a full stack developer at Spot.IM.<br />
          Technologies:<br />
          React, Redux, styled-components, Webpack, NodeJs, Express js, Docker
          and AWS.
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>DesignMatcher</span>
          <span class="date">2017 — 2018</span>
        </h4>
        <div class="position">CTO</div>
        <div class="summary">
          I worked as a CTO of DesignMatcher.
          <br />DesignMatcher is a startup to simplifies the way interior
          designer source items, hosted by Yahoo's incubator -
          <a
            class="show-url-print"
            href="http://sigmalabs.co"
            rel="noopener"
            target="_blank"
            >SigmaLabs Accelerator</a
          >. <br />I was responsible for all development aspects and managing
          remote teams as well.
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>AVG Technologies</span>
          <span class="date">2016 — 2017</span>
        </h4>
        <div class="position">JS Developer</div>
        <div class="summary">
          I worked as javaScript developer. The work involved AGILE
          methodologists along large code base with efficient
          <span title="Continuous Integration">CI</span>. <br />I was in charge
          (as part of a talented team) of developing and maintaining a couple of
          browser extensions, for both Mozilla Firefox and Google Chrome.<br />
          Those extensions hade more than 20 million active users around the
          world with diverse browser versions and require severe level of QA.
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>TopCtr Digital Marketing LTD</span>
          <span class="date">2013 — 2015</span>
        </h4>
        <div class="position">Full Stack Developer</div>
        <div class="summary">
          <!-- <p>I worked as a full stack developer at TopCtr Digital Marketing where I built and maintained a large variety of web Apps and websites.
        <br> Most of the work was done with Wordpreess, but a significant portion was made with Node.js.</p> -->

          I worked as a full stack developer at TopCtr Digital Marketing where I
          developed and maintained a large variety of web apps and websites.

          <br />Most of the work involve MEAN stack over AWS, Yet some of it
          involves WordPress and PostgreSQL.
        </div>
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="strike-through">
          <span>Freelance Web Developer</span>
          <span class="date">2011 — 2013</span>
        </h4>
        <div class="summary">
          <p>
            I worked as a freelance WEB developer, building several WEB sites
            according to customers' requirements.
          </p>
        </div>
      </div>
    </div>

    <div class="row hide-in-print">
      <div class="col-sm-12">
        <br />
        <div class="position">Other Jobs</div>

        <dl class="dl-horizontal">
          <dt>Security Guard</dt>
          <dd>
            Discount Bank Main Operating Center.
            <span class="pull-right">2009 — 2010</span>
          </dd>

          <dt>Amusement Park <br />Manager (U.S)</dt>
          <dd>
            <span class="pull-right">2009</span> Responsibilities:
            <ul>
              <li>Recruitment — American and Israelis.</li>
              <li>Working with suppliers.</li>
              <li>Rental stalls.</li>
              <li>Daily base technical/logistical management.</li>
            </ul>
          </dd>

          <dt>Salesman (U.S)</dt>
          <dd>
            Cosmetics
            <span class="pull-right">2008</span>
          </dd>

          <dt>Amusement Facilities <br />Operator (U.S)</dt>
          <dd>
            Myrtle Beach SC
            <span class="pull-right">2007 — 2008</span>
          </dd>
          <dt>CPC Hi Technologies</dt>
          <dd>
            QA of Printed Circuit Boards.
            <span class="pull-right">End of 2006 — 2007</span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
